/* @import url("./assets/css/font.css"); */
@import url("./colors.css");

/* Jetbrain Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  overflow-x: hidden !important;

}

* {
  margin: 0;
  padding: 0;
  /* color: #FFFFFF; */
  /* font-family: 'Rubik', sans-serif; */
  /* font-weight: 500;
  font-size: 100px; */

}

body {
  background: #222222;
  font-family: 'JetBrains Mono', monospace;
  position: relative;
  overflow-x: hidden !important;

}

header {
  width: 100%;

  /* background-color: red; */
  position: fixed;
  top: 0;
  z-index: 1000;
  background: var(--blackShades);
}

.nav-normal {
  height: 53px;
}

.nav-mobile {
  height: 100%;
}

main {
  width: 100%;
  margin-top: 53px;
}

.addShadow {
  box-shadow:
    6.22px 6.22px 18.67px #252b25,
    -6.22px -6.22px 18.67px #293430;
}

.hidden {
  display: none !important;
}

.topNavbar>.nav-btn {
  display: none;
}

.topNavbar>#nav-check {
  display: none;
}

.topNavbar {
  /* background: yellow; */
  padding: 0.7rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topNavbar .homeName {
  color: var(--whiteShades);
  font-size: 24px;
  font-weight: 800;
}

.topNavbar .homeName span {
  color: var(--greyShades);
}

.topNavbar a {
  cursor: pointer;
}

.topNavbar a.active {
  color: var(--green);
}

.topNavbar a.active::before {
  font-family: 'fontAwesome';
  content: '\f053';
  font-size: 8px;
  font-weight: 200;
  padding: 10px;
}

.topNavbar a.active::after {
  font-family: 'fontAwesome';
  content: '\f054';
  font-size: 8px;
  font-weight: 200;
  padding: 10px;
}

.topNavbar a.active:hover {
  color: var(--green);
}

.topNavbar ul {
  display: flex;
  list-style: none;
}

.topNavbar a {
  /* line-height: 0.5; */
  margin-right: 20px;
  padding: 12px 20px;
  /* background: tomato; */
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: var(--whiteShades);
}

.topNavbar a:hover {
  color: white;
}

.text-underline {
  text-decoration: underline !important;
}

.btn {
  background: var(--blackShades);
  color: var(--green);

  /* Box Shadow */
  box-shadow: -6.22302px -6.22302px 18.6691px #293430,
    6.22302px 6.22302px 18.6691px #000000;

  border-radius: 124.46px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;

  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 20px;
}

.btn:hover {
  box-shadow: -6.22302px -6.22302px 18.6691px rgb(48, 61, 56),
    6.22302px 6.22302px 18.6691px #000000;
  color: #FFFFFF;
}

.home-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  /* height: 100vh; */
  /* background: yellow; */
}

.home-section .one {
  margin-top: 120px;
  padding-left: 9rem;
  font-family: 'Rubik', sans-serif !important;
  /* background: red; */
}

.home-section .one div:first-child {

  color: var(--blackShades);
  background: var(--green);

  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  width: 120px;
  border-radius: 2px;

  /* Auto Layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
}

.home-section .one div:nth-child(2) h1 {
  margin-top: 16px;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  text-align: left;
  color: #FFFFFF;
}

.home-section .one div:nth-child(2) p {
  margin-top: 16px;
  width: 356px;
  font-size: 16px;
  line-height: 19px;
  color: var(--greyShades);
  margin-bottom: 50px;
}

.home-section .two {
  /* background: yellow; */
  display: flex;
  padding-left: 2rem;
  padding-top: 2rem;
  align-items: center;
}

.about-section {
  padding-top: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  /* height: 100vh; */
}

.about-section .one {
  /* margin-top: 90px; */
  padding-left: 7rem;
}


.nameLine,
.nameTwoLine {
  height: 19px;
}

.nameLine p {
  font-family: 'Rubik', sans-serif !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 19px;
  color: var(--green) !important;
  display: flex;
  align-items: center;
}

.nameTwoLine p {
  font-family: 'Rubik', sans-serif !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 19px;
  color: var(--green) !important;
  display: flex;
  align-items: center;
}

.nameLine p::after,
.nameTwoLine p::after {
  content: '';
  flex: 0.170;
  margin-left: 12px;
  height: 1.5px;
  border-radius: 10px;
  background-color: var(--green);
}

.nameTwoLine p::before {
  content: '';
  flex: 0.170;
  margin-left: 12px;
  height: 1.5px;
  border-radius: 10px;
  background-color: var(--green);
}


.about-section .one h1 {
  margin-top: 16px;
  color: #FFFFFF;
  width: 408px;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  margin-bottom: 30px;
}

.about-section .one h3 {
  width: 370px;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: var(--whiteShades);
  margin-bottom: 26px;
}

.about-section .one p {
  width: 451px;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: var(--greyShades);
  margin-bottom: 50px;
}

.about-section .one .cv {
  margin-bottom: 30px;
}

.about-section .one .about-button-social,
.about-section .one .cv {
  font-family: 'Rubik', sans-serif !important;
  display: flex;
}

.about-section .one .about-button-social button,
.about-section .one .cv {
  color: var(--whiteShades);
}

.about-section .one .about-button-social button:hover,
.about-section .one button.cv:hover {
  color: var(--green);
}

.about-section .one .about-button-social button i,
.about-section .one .cv i {
  margin-right: 16px;
  /* color: var(--whiteShades); */
}

.about-section .one .about-button-social button:first-child {
  margin-right: 50px;
}

.about-section .two {
  /* background: red; */
  padding: 0 3rem 0 5rem;
}

.about-section .two p {
  color: var(--greyShades);
  font-size: 16px;
  line-height: 21px;
  margin-top: 8px;
  margin-bottom: 50px;
}

.about-section .two .listSkill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-section .two .listSkill li {
  color: var(--whiteShades);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  list-style-type: none;
}


.about-section .two .listSkill li::before {
  font-family: "fontAwesome";
  content: "\f054";
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;
  color: var(--green);
  margin-right: 16px;
}

.services-section {
  padding-top: 8rem;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-items: center; */
}

.services-section .services-card {
  display: flex;
}

.titleSection {
  font-family: "Rubik" !important;
  font-weight: 500;
  font-size: 40px;
  color: var(--whiteShades);
  margin-top: 12px;
}

.card {
  margin-top: 70px;
  position: relative;
  box-shadow:
    6.22px 6.22px 18.67px #000000,
    -6.22px -6.22px 18.67px #293430;
  border-radius: 24px;
  padding: 50px 40px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .circle {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 24px;
  height: 24px;
  box-shadow:
    -2.49px -2.49px 6.22px #2E3732,
    3.73px 3.73px 6.22px #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .circle div:first-child {

  width: 10px;
  height: 10px;
  background: var(--green);
  box-shadow: inset -1.24px -1.24px 1.22px #7CE8AB, inset 1.24px 1.24px 1.24px rgba(133, 214, 169, 0.35);
  border-radius: 50%;
}

.card .card-img {
  width: 67px;
  height: 63px;
  box-shadow: inset -12.45px -12.45px 31.12px #293430, inset 12.45px 12.45px 31.12px #000000;
  border-radius: 4px;
}

.card .card-img img {
  padding: 6px;
  width: 55px;
  height: 50px;
}

.card .card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 20px;
}

.card .card-title hr {
  margin-top: 4px;
  width: 27px;
  border: 2px solid var(--green);
  border-radius: 50px;
}

.card .card-title h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: var(--whiteShades);
}

.card .card-text p {
  width: 178px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--greyShades);
}

.project-section {

  padding-top: 8rem;
  padding-bottom: 4rem;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-section .listProject {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.project-section .listProject .cardProject {
  width: 428px;
  height: 410px;
  box-shadow: 6.22px 6.22px 18.67px #000000, -6.22px -6.22px 18.67px #293430;
  border-radius: 24px;
}

.project-section .listProject .cardProject div:first-child {
  width: 100%;
  height: 366px;
  box-shadow: inset -12.45px -12.45px 31.12px #293430, inset 12.45px 12.45px 31.12px #000000;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.project-section .listProject .cardProject div:first-child img {
  padding: 16px;
  width: 92%;
  border-radius: 24px;

}

.project-section .listProject .cardProject h4 {
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--greyShades);
  margin-top: 7px;
}

.project-section button {
  margin-top: 80px;
  text-decoration: underline;
}

.contact-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  padding: 8rem 115px;
  /* height: 100vh; */
  /* background: yellow; */
}

.contact-section .one,
.contact-section .two {
  color: var(--whiteShades);
  font-family: 'Rubik', sans-serif;
}

.contact-section .one .title p,
.contact-section .two .title p {
  color: var(--green);
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 12px;
}

.contact-section .one .title h2,
.contact-section .two .title h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 40px;
}

.contact-section .one .info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact-section .one .info img {
  width: 36px;
  height: 30px;
  margin-right: 24px;
}


.contact-section .one .info div p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--greyShades);
}

.contact-section .one .info div h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.contact-section .two .form {
  width: 350px;
}

.contact-section .two .form input,
.contact-section .two .form textarea {
  font-family: 'JetBrains Mono', monospace !important;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--whiteShades);
  padding-left: 34px;
  padding-right: 64px;
}

.contact-section .two .form input:focus,
.contact-section .two .form textarea:focus {
  /* outline: 2px solid var(--green) ; */
  /* border-radius: ; */
  /* box-shadow: inset 0 0 0 2pt red !important; */

  outline: none;
  border: 2px solid var(--green) !important;
}

.contact-section .two .form button {
  font-family: 'JetBrains Mono', monospace !important;
  width: 100%;
}

.contact-section .two .form .form-input {
  margin-top: 16px;
  position: relative;
  width: 100%;
  height: 65px;
}

.contact-section .two .form .form-input img {
  position: absolute;
  top: 24px;
  right: -64px;
  /* bottom: 2px;
  right: 5px;
  width: 24px;
  height: 24px; */
}

.contact-section .two .form .form-input input,
.contact-section .two .form .form-input textarea {
  height: 100%;
  background: #222222;
  box-shadow: inset -12.45px -12.45px 31.12px #293430, inset 12.45px 12.45px 31.12px #000000;
  border-radius: 8px;
  border: none;
}

.contact-section .two .form .form-input textarea {
  /* height: 142px; */
  padding-top: 22px;
}

.contact-section .two .form .form-submit {
  margin-top: 60px;
  /* width: 10rem; */
}

.contact-section .two .form .form-submit button {
  background: var(--blackShades);
  color: var(--green);

  /* Box Shadow */
  box-shadow: -6.22302px -6.22302px 18.6691px #293430,
    6.22302px 6.22302px 18.6691px #000000;

  border-radius: 124.46px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;

  padding: 12px 20px;
  width: 10rem;
  text-align: center;
}

.contact-section .two .form .form-submit button:hover {
  box-shadow: -6.22302px -6.22302px 18.6691px rgb(48, 61, 56),
    6.22302px 6.22302px 18.6691px #000000;
  color: #FFFFFF;
}

.downloadCV {
  box-shadow: -2.22px -2.22px 18.6691px #2F453D, 2.22px 2.22px 18.6691px #000000;
  border-radius: 124.46px;
  border-radius: 4px;
  background: var(--green);
  color: var(--blackShades) !important;
  padding: 8px 16px !important;
}

.downloadCV:hover {
  background: #7CE8AB;
}

.section-portfolio {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.section-portfolio .tagline {
  margin-top: 2rem;
  color: var(--greyShades);
  border-radius: 10px;
  padding: 10px 20px;
  border: 2px solid #7cf0ae;
  text-align: center;

  /* box-shadow: 6.22px 6.22px 18.67px #000000,
-6.22px -6.22px 18.67px #293430; */
}

.section-portfolio .titleSection {
  margin-bottom: 4rem;
}

.portfolio-list {
  width: 75%;
  box-shadow:
    6.22px 6.22px 18.67px #000000,
    -6.22px -6.22px 18.67px #293430;
  border-radius: 24px;
  margin-bottom: 60px;
  display: flex;
}

.portfolio-list .img-portfolio {
  margin-right: 32px;
  width: 50rem;
  height: 321px;
  box-shadow: inset -12.45px -12.45px 31.12px #293430, inset 12.45px 12.45px 31.12px #000000;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-list .img-portfolio img {
  height: 85%;
  width: 85%;
  border-radius: 16px;
}

.portfolio-list .body-portfolio {
  width: 100%;
  padding-right: 3rem;
  margin-top: 24px;
}

.portfolio-list .body-portfolio h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: var(--green);
  margin-bottom: 20px;
}


.portfolio-list .body-portfolio h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: var(--whiteShades);
  margin-bottom: 4px;
  margin-top: 16px;
}

.portfolio-list .body-portfolio p {
  /* width: 427px; */
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--greyShades);
}

.portfolio-list .body-portfolio .description-portfolio {
  padding-bottom: 24px;
}